<section class="about">
  <img
    src="https://cdn.pixabay.com/photo/2015/05/30/01/18/vegetables-790022_1280.jpg"
    style="height: 350px; width: 450px; object-fit:cover"
    alt=""
  />
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo veritatis
    sit atque similique ducimus eveniet, omnis suscipit minima totam numquam
    cumque porro. Numquam iure cumque pariatur repellat quo, aspernatur deserunt
    magnam id sunt eaque sint error facilis aperiam sed ratione? Eaque porro
    quam blanditiis error! Maiores quidem perferendis enim aspernatur,
    obcaecati, rem porro veniam aut temporibus dolore assumenda placeat laborum
    quae illo hic eaque veritatis voluptate, nesciunt dolorem. Dicta facilis
    aperiam ipsam at neque voluptas veniam odit, fugit sint odio vero, ipsum
    consequuntur consequatur, blanditiis distinctio rerum voluptates ducimus
    soluta incidunt hic inventore maiores iure aliquam. Ullam vel velit aperiam
    enim. Distinctio velit possimus excepturi assumenda ut. Magni ipsum quam qui
    porro rerum maiores unde, aliquid consequuntur eius culpa ipsa reprehenderit
    doloribus laudantium dolorum eaque, dolorem quaerat quis dignissimos est eos
    assumenda distinctio dolores illo? Soluta quas eligendi eveniet itaque est
    id veniam dolores pariatur! Maxime nostrum voluptatem voluptate aperiam.</p>
</section>