<section class="contact">
  <img
    src="https://cdn.pixabay.com/photo/2023/06/13/20/53/sunflower-8061822_1280.png"
    style="max-width: 50%; height: 400px"
    alt="contact image"
  />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deleniti
    nostrum porro alias, sint deserunt ex officiis omnis atque ipsa optio dolor,
    sunt expedita consequuntur libero fuga nisi, odio dolorum laborum! Omnis
    illo quam eveniet ipsum in necessitatibus reprehenderit quisquam repellat
    distinctio dolores dolor, commodi ullam consequuntur blanditiis ad
    temporibus.</p>
  <address>
    v. Voysil
    <p>mailto: velin@abv.bg</p>
  </address>
</section>