<fieldset>
  <option>
    <h2>Login </h2>
    <form method="post">
      <input type="text" placeholder="email" name="email" />
      <br />
      <br />
      <input type="password" placeholder="password" name="password" />
      <br />
      <br />

      <button type="submit">Login</button>
    </form>
  </option>

</fieldset>